### hello world app ###
*.sqlite3

# Created by https://www.gitignore.io/api/django,virtualenv

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
