<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\django_apps\Django_wfastcgi_sample" />
    <add key="DJANGO_SETTINGS_MODULE" value="my_project.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\django_apps\Django_wfastcgi_sample\env\scripts\python.exe|c:\django_apps\Django_wfastcgi_sample\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>